
.carousel{
  display: flex;
  gap: 14px;
  border-top: 1px solid #DBDBDB;
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
  padding: 18px 0 12px 27px;

}
.carousel__story{
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel__image{
  //width: auto;
  height: 66px;
  //width: 66px;
}

.carousel span{
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: lowercase;
  Width :74px;
  Height: 16px;

}
