.user-profile__box{
  margin-top: 20px;
  display: grid;
  justify-content: center;
}

.user-profile__box--header-all{
  display: flex;
  gap: 101px;
  align-items: center;
  margin-bottom: 44px;
}

.user-profile__box--header-image-profile{
  width: 150px;
  height: 150px;
}


.user-profile__box--header-profile-first-row{
  display: flex;
  gap:20px;
  align-items: center;
}

.user-profile__box--header-username{
  font-weight: 350;
  font-size: 28px;
  line-height: 32px;
}

.user-profile__box--header-button{
  padding: 6px 24px;
  gap: 10px;
  width: 90px;
  height: 30px;
  background: #0095F6;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
}

.user-profile__box--header-more{
  width: 24px;
  height: 24px;

}
.user-profile__box--header-second-row{
  padding-top: 20px ;
  padding-bottom: 20px;
  display: flex;
  gap:40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.user-profile__numbers{
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.user-profile__box--header-third-row{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.user-profile__box--header-stories{
  display: flex;
  gap: 48px;
  margin-bottom: 44px;
}

.user-profile__box--header-story{
  margin-top:11px;
  margin-bottom: 11px;
}

.user-profile__box--header-story-title{
  margin: 15px 11px 0 11px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.user-profile__box--header-story-img {
  width: 67px;
  height: 67px;
  border-radius: 56px;
  margin: 5px;
}

.user-profile__box--body-tablist{
  border-top: 2px solid #DBDBDB;
  display: flex;
  justify-content: center;
}

.user-profile__box--body-tablist-button{
  padding:17px 60px 17px 0;
  background: none;
  border: none;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #8E8E8E;
}
.user-profile__box--body-tablist-button img{
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.pressed-tablist{
  border-top: 2px solid #262626;
}

.user-profile__box--body-posts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding: 5px;
  gap: 28px;
}

.user-profile__box--body-post{
  width: 293px;
  height: 293px;
}

.user-profile__box--footer{
  display: grid;
  justify-items: center;
}
