.footer-big{
  position: fixed;
  bottom: 0;
}


.footer-big__btn, .footer-big__span {
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  text-transform: capitalize;
  color: #8E8E8E;
  border: none;
  background: none;
  padding: 0 8px 12px 8px;
}

.footer-big__language{
  background: none ;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  text-transform: capitalize;
  color: #8E8E8E;
  outline: 0;
}
