.box--explore{
  margin-top: 22px;
}
.box--explore-gallery{
  display: grid;
  gap:28px
}
.box--explore-gallery__item{
  display: grid;
  gap:28px
}

.box--explore-gallery__item img{
  width: 292px;
  height: 292px;
}

.box--explore-gallery__item3{
  display: flex;
  gap:28px;
}

.box--explore-gallery__item3 img{
  width: 292px;
  height: 292px;
}

.box--explore-gallery__items1And2{
  display: flex;
  gap:28px;
}

.box--explore-gallery__item2 img{
  height: 615px;
  width: 615px;
  margin-right: 28px;
}
